{% extends 'teslo/base.html' %}

{% block title %}Teslo - Comprar{% endblock %}

{% block contenido %}
<h1 class="text-white text-center fw-bolder mt-4">Formulario Compra</h1>
<div class="container mt-4">
  <div class="row ">
    <div class="col-md-6">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="producto" value="{{ producto.id }}">
        <div class="mb-3">
          <label for="id_cantidad" class="form-label text-white">Cantidad:</label>
          {{ form.cantidad }}
        </div>
        <div class="mb-3">
          <label for="id_nombre_comprador" class="form-label text-white">Nombre del Comprador:</label>
          {{ form.nombre_comprador }}
        </div>
        <div class="mb-3">
          <label for="id_correo" class="form-label text-white">Correo de contacto:</label>
          {{ form.correo }}
        </div>
        <div class="mb-3">
          <label for="id_direccion_envio" class="form-label text-white">Dirección de envío:</label>
          {{ form.direccion_envio }}
        </div>
        <div class="mb-3">
          <label for="id_rut" class="form-label text-white">RUT:</label>
          {{ form.rut }}
        </div>
        <input type="submit" value="Comprar" class="btn btn-success">
      </form>
    </div>
    <div class="col-md-6">
      <h2 class="text-white  mt-2 mb-3">Detalles del Producto</h2>
      <div class="productos-card">
        <img class="image-product" src="{{ producto.imagen.url }}" alt="">
        <div class="producto-card-info text-wrap">
          <h3 class="text-white text-center fw-bolder mt-3">{{ producto.nombre }}</h3>
          <p class="text-white text-center">{{ producto.descripcion }}</p>
          <p class="precio text-white text-center fw-bolder">${{ producto.precio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
