<!-- Remove the container if you want to extend the Footer to full width. -->
{% load static %}
<div class="mt-3">

  <footer class="text-center text-white altura" style="background-color: #fff;">
  <!-- Grid container -->
  
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3 mt-1 " style="background-color: rgba(255, 255, 255, 0.2);">
    © 2023 Copyright:
    <a class="text-dark mt-2" href="{% url 'home' %}" >TesloShop.com</a>
  </div>
  <!-- Copyright -->
</footer>
  
</div>
<!-- End of .container -->